## 2020A Gemini PI Notification
Dear 2020A Gemini Principal Investigator,

Congratulations! You are receiving this email because your proposal for time on Gemini was successful.  This email contains important information concerning the Phase II definition of your program.

!!!THE GENERAL DEADLINE FOR COMPLETING YOUR PHASE II IS JANUARY 17 2020!!!

Step by step instructions for completing the Phase II Science Programs for all Gemini North and Gemini South instruments as well as detailed information about Eavesdropping, and Classical and Priority Visitor Observer programs are given at the following link:

http://www.gemini.edu/node/21275

PROGRAM SUMMARY
-----------------------

Program Title: @PROG_TITLE@
Principal Investigator: @PI_NAME@
Gemini Program ID: @PROG_ID@
Total Time Awarded: @TIME_AWARDED@
Program Time Awarded: @PROG_TIME@
Partner Calibration Time Awarded: @PARTNER_TIME@
Scientific Ranking Band: @QUEUE_BAND@
Gemini Participant Phase II support: @COUNTRY@
Principal Support: @NTAC_SUPPORT_EMAIL@
Additional Support: @GEMINI_CONTACT_EMAIL@
Program Key Password: @PROG_KEY@
Remote Eavesdropping Google Spreadsheet link (Band 1 and 2 only):
https://docs.google.com/spreadsheets/d/1y-F9ac1oubnt-eINT6n6qEWt-i5LcmF4jbki3-q2TY8/edit#gid=5

!!! Your program key password is necessary for accessing both your Phase II program using the Observing Tool and your data in the Gemini Observatory Archive!!!

Your awarded time has been split into program and partner (baseline calibration) components. In the OT you will see only the awarded program time. During Phase II you will create the observations to fill this time.

You will be the single point of contact for Phase II preparation and notification of data availability.  If you wish to change or add contact information for your program, please contact your support scientists (Principal or Additional Support).  A Gemini Contact Scientist will be able to make the necessary changes.

ITAC FEEDBACK
------------------

You may receive feedback concerning your proposal from your National TAC or NGO. In addition, the following comment (if any) comes from the International Time Allocation Committee (ITAC):

@ITAC_COMMENTS@

@GEMINI_COMMENT@

Thank you for your prompt attention to your Phase II submission and we wish you well in your investigations.

Regards,

Marie Lemoine-Busserolle, ITAC Chair (mbussero@gemini.edu)
Atsuko Nitta, Gemini North Head of Science Operations (anitta@gemini.edu)
Rene Rutten, Gemini South Head of Science Operations (rrutten@gemini.edu)